<h1>{{title}}</h1>
<nav>
    <ul>
        <li><a href="/api/users">all users api</a></li>
        <li><a href="/api/posts">all posts api</a></li>
        <li><a href="/addPost">go to add post test page</a></li>
    </ul>
   
</nav>
