<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-dark nav-color-purple">

	<div class="container">
		<a class="navbar-brand" id="logo">web Zone</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		    aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="form-inline my-2 my-lg-0 ml-auto">
				<div class="row">
					<div class="row">
						<div class="col">
							<p>Email</p>
							<input ng-model="user.email" class="form-control mr-sm-2" type="email" />
							<div class="row">
								<div class="col">
									<p>{{loginErorr}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p>Password</p>
							<input ng-model="user.password" class="form-control mr-sm-2" type="password" />
							<button ng-click="signIn($event)" class="btn btn-light btn-sm my-2 my-sm-0">Login</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>


<div class="container">

	<div class="row">
		<!-- INFO -->
		<div class="col">
			<strong class="dummy-info">Connect with friends and the world around you on WebZone.</strong>
			<ul>
				<li>
					<img src="../../images/icons/login-icon1.png" alt="">
					<strong>See photos and updates</strong>
					<p>from friends in News Feed.</p>
				</li>
				<li>
					<img src="../../images/icons/login-icon2.png" alt="">
					<strong>Share what's new </strong>
					<p>from friends in News Feed.</p>
				</li>
				<li>
					<img src="../../images/icons/login-icon3.png" alt="">
					<strong>Find more</strong>
					<p>of what you're looking for with WebZone Search. </p>
				</li>
			</ul>
		</div>
		<!-- REGISTER -->
		<div class="col" id="registerForm">
			<strong class="dummy-info">New to WebZone?
				<br/> Register in just a few clicks!</strong>
			<div id="signUp">
				Sign up!
			</div>
			<div>
				<input type="text" ng-class="errors[0]?'wrongField':'none'" ng-model="newUser.firstName" ng-change="validate('firstName')"
				    ng-paste="validate('firstName')" name="username" placeholder="First name">
			</div>
			<div>
				<input type="text" ng-class="errors[1]?'wrongField':'none'" ng-model="newUser.lastName" ng-change="validate('lastName')"
				    ng-paste="validate('lastName')" name="username" placeholder="Last name">
			</div>
			<div>
				<input type="text" ng-class="errors[2]?'wrongField':'none'" ng-model="newUser.email" ng-change="validate('email')"
				ng-paste="validate('email')"name="email" placeholder="E-mail">
			</div>
			<div>
				<input type="password" ng-class="errors[3]?'wrongField':'none'" ng-model="newUser.pass1" ng-change="validate('pass1')" ng-paste="validate('pass1')"
				    name="pass1" placeholder="Password">
			</div>
			<div>
				<input type="password" ng-class="errors[4]?'wrongField':'none'" ng-model="newUser.pass2" ng-change="validate('pass2')" ng-paste="validate('pass2')"
				    name="pass2" placeholder="Retype password">
			</div>
			<div ng-show=hasErrors id="errorContainer">
				<ul>
					<li ng-if=errors[0]>
						<em> First name must be atleast two charechers long.</em>
					</li>
					<li ng-if=errors[1]>
						<em> Last name must be atleast two charechers long.</em>
					</li>
					<li ng-if=errors[2]>
						<em> Please enter a valid e-mail address.</em>
					</li>
					<li ng-if=errors[3]>
						<em> Password must contain minimum eight characters, at least one uppercase letter, one lowercase letter, one number and
							one special character.</em>
					</li>
					<li ng-if=errors[4]>
						<em>Passwords should match.</em>
					</li>
					<li ng-if=errors[5]>
							<em>Please fill in the form.</em>
						</li>
				</ul>
			</div>

			<div>
				<input type="button" ng-click="signUp(newUser)" value="SIGN ME UP">
			</div>
		</div>
	</div>
</div>