
	<nav class="navbar navbar-expand-lg navbar-dark nav-color-purple">
		<div class="container">
			<a class="navbar-brand" id="logo">web Zone</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="form-inline my-2 my-lg-0 ml-auto">
					<div class="row">
						<div class="col">
							<p>Email</p>
							<input ng-model="user.email" class="form-control mr-sm-2" type="search" />
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p>Password</p>
							<input ng-model="user.password" class="form-control mr-sm-2" type="password" />
							<button ng-click="signIn($event)" class="btn btn-light btn-sm my-2 my-sm-0">Login</button>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col">
							<a href="#">Forgot account?</a>
						</div>
					</div> -->
				</form>
			</div>
		</div>
	</nav>


	<div class="container">
		<div class="row">
			<div class="col">
				<strong id="dummy-info">Connect with friends and the world around you on WebZone.</strong>
				<ul>
					<li>
						<img src="../../images/icons/login-icon1.png" alt="">
						<strong>See photos and updates</strong>
						<p>from friends in News Feed.</p>
					</li>
					<li>
						<img src="../../images/icons/login-icon2.png" alt="">
						<strong>Share what's new </strong>
						<p>from friends in News Feed.</p>
					</li>
					<li>
						<img src="../../images/icons/login-icon3.png" alt="">
						<strong>Find more</strong>
						<p>of what you're looking for with WebZone Search. </p>
					</li>
				</ul>
			</div>
			<div class="col">

			</div>
		</div>
	</div>
