.post {
  margin: auto;
  border: 1px solid rebeccapurple;
  max-width: 500px;
  min-width: 200px;
}
.post .postHeading img {
  width: 10%;
  border: 1px solid black;
  border-radius: 50%;
  margin: 1em;
}
.post .postHeading div:first-of-type {
  /* width: 60%; */
  margin-top: 2em;
}
.post .postHeading {
  display: inline-block;
}
.post .postHeading > * {
  float: left;
}
.postDescription {
  margin: 1em;
}
.postImg img {
  max-width: 90%;
  margin-left: 5%;
}
.comments {
  width: 90%;
  margin: 1em auto;
  /* border: peru 2px dashed */
}
/* .comment img{

} */
.allComments{
  display: inline-block;
}
.newComment,
.comment {
  width: 90%;
  height: 2.5em;
  margin-top: 1em;
  /* border: darkviolet 1px dashed; */
}
.newComment{
  margin-top: 1.7em
}
.newComment img,
.comment img {
  display: block;
  float: left;
  height: 100%;
  width: 2.5em;
  border-radius: 50%;
}
.comment{
  display: inline-block;
  width: 100%;
}
.commentContent {
  max-height: 200px;
  overflow: hidden;
  margin-left: 4em;
}
ul li{
  display: inline-block;
  font-size: 0.7em;
  width:22%;
  text-align: center;
  /* text-decoration: none; */
  /* list-style: none; */
}
.newComment > div {
  width: 70%;
  /* line-height: 50%; */
  border: rgb(50, 9, 68) 1px solid;
  border-radius: 0.5em;
  margin-left: 1em;
  height: 90%;
  float: left;
}
.newComment > div span {
  float: right;
  /* line-height: 100%; */
  font-size: 1.6em;
}
.newComment input {
  border: none;
  margin-left: 1em;
  height: 90%;
  width: 80%;
}

.newComment input:focus {
  outline: none;
}
