<div ng-class="post.isNews?'news-aricle':'post'">
    <div class="card rounded shadow">
        <div class="post-header card-header no-border">
            <div class="float-left half">
                <div class="media">
                    <div class="media-object float-left">
                        <img ng-src="{{post.owner.photoUrl}}" alt="..." class="rounded-circle img-post">
                    </div>
                    <div class="media-body">
                        <p>
                            <a href="#!/profile/{{post.owner._id}}" class="media-heading block mb-0 h6 text-white">{{post.owner.name}} </a>
                            <span ng-if="post.isNews" class="news-source media-heading block mb-0 h6 text-white">for
                                <a href=" {{post.owner.site}}">
                                    <span class="">
                                        {{post.owner.site}}
                                    </span>
                                </a>
                            </span>
                        </p>

                        <p class="date text-white h6">{{calculatetime({date: post.date})}}</p>
                    </div>
                </div>
            </div>
            <!-- /.pull-left -->
            <div ng-if="!post.isNews" class="float-right">
                <span class="text-white h6">
                    <i ng-click="post.like()" ng-class="post.liked?'likedPost':''" title="Like this post." class="fa fa-heart"></i>
                    <span title=" ">{{post.likes.length}}</span>
                </span>
                <i ng-show="post.canEdit" ng-click="post.editMode=!post.editMode" class="fa fa-cog float-right" title="Edit post."></i>
                <div ng-show="post.editMode" class="editPostOptions">
                    <p ng-click="post.delete()">Delete post</p>
                </div>
            </div>
            <!-- /.pull-right -->
            <div class="clearfix"></div>
        </div>
        <!-- /.panel-heading -->
        <div class="card-block m-4 no-padding">
            <div ng-if="post.photoUrl">
                <div class="inner-all block">
                    <p>
                        {{post.text}}
                    </p>
                </div>
                <img ng-src="{{post.photoUrl}}" alt="..." class="img-fluid full-width">
            </div>
            <div ng-if="!post.photoUrl">
                <div class="inner-all block post-content">
                    <p>
                        {{post.text}}
                    </p>
                </div>
            </div>
            <div ng-if="!post.isNews" class="inner-all block">
                view all
                <a href="#" ng-click=post.displayAllComments($event)>{{post.comments.length}} comments</a>
            </div>
            <!-- /.inner-all -->

            <!-- COMMENT -->
            <div class="line no-margin"></div>
            <!-- /.line -->
            <div ng-repeat="comment in post.displayedComments" class="comment card-footer">
                <div class="media inner-all no-margin">
                    <div class="float-left">
                        <img class="mr-2 rounded-circle img-fluid img-bordered-primary" ng-src="{{comment.owner.photoUrl}}" title:
                            "{{comment.owner.name}}" alt="...">
                    </div>
                    <!-- /.pull-left -->
                    <div class="media-body">
                        <a href="#" class="h6"></a>
                        <small class="block text-muted">{{comment.text}} </small>
                        <p>
                            <em class="text-xs text-muted">Posted
                                <span class="text-danger">{{calculatetime({date: comment.date})}} </span>
                            </em>
                        </p>
                    </div>
                    <!-- /.media-body -->
                </div>
                <!-- /.media -->
            </div>
            <!--end of comments -->
        </div>
        <!-- new comment -->
        <div ng-if="!post.isNews" class="your-comment card-footer">
            <form action="#" class="">
                <div class="input-group has-feedback no-margin">
                    <input type="text" ng-model=post.newComment.text class="form-control form-control-sm" placeholder={{post.newComment.placeholder}}>
                    <span class="input-group-btn">
                        <button ng-click=post.addNewComment() class="btn btn-purple" type="button">POST</button>
                    </span>
                </div>
            </form>
        </div>
        <div ng-if="post.isNews" class="share">
            <i class="far fa-share-square"></i> SHARE
        </div>
        <!-- /.panel-footer -->
    </div>
    <!-- /.panel -->
</div>