<h2>this a user page brought to you by the ng-route module</h2>

<p >{{greeting2}}</p>
<p >{{greeting1}}</p>

<h3> get post with id 5ad89f57ee0c5a17321e044a</h3>
<p>{{postInfo}}</p>
<h2>Right here , right now -- make your own post request </h2>
<input ng-model="ownerId" type="text" placeholder="owner id">
<input ng-model="text" type="text" placeholder="text">
<button ng-click="postPost(ownerId,text)">POST your post</button>
<br>
<br>
<hr>
<br>
<br>
<input ng-model='postIdFortesting'  type="text">
<button ng-click="testAddingAComment()" >testAddingAComment</button>