<nav id="mainNav" class="navbar  navbar-dark nav-color-purple">

	<!-- <div class="container"> -->
	<img id="logo" width="35" src="images/logo.png" alt="logo">
	<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		    aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> -->
	<form class="col-lg-5 my-1 mx-sm-1 mr-auto">
		<div class="input-group input-group-sm">
			<input id='foudnUsersInput' ng-change="searchUser({userName: userName})" ng-model="userName" type="text" class="form-control"
			 placeholder="Search for...">

			<!-- <datalist id="$root.currentUsers" ng-change="selectUser()" ng-model="selectedUserId">
						<option ng-repeat="foundUser in foundUsers track by $index" ng-value="foundUser._id">{{foundUser.firstName}}</option>
					</datalist> -->
			<!-- <select class="custom-select" ng-change="selectUser()" ng-model="selectedUserId">
						<option ng-repeat="foundUser in foundUsers track by $index" ng-value="foundUser._id">{{foundUser.firstName}}</option>
					</select> -->


			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button">Go!</button>
			</span>
		</div>
		<ul ng-if="foundUsers.length > 0" id='foudnUsersUl' class="list-group">
			<li ng-repeat="foundUser in foundUsers track by $index" ng-click="selectUser({foundUser: foundUser})" class="list-group-item">{{foundUser.firstName}} {{foundUser.lastName}}</li>
		</ul>
	</form>
	<div class="my-navbar-collapse">
		<ul>
			<li>
				<img data-no-retina="" class="img-fit w-40 img-fluid rounded-circle d-block mx-auto img-bordered-primary mt-1 mb-2" ng-src="{{$root.currentUser.profilePic}}"
				 alt="{{$root.currentUser.firstName}} {{$root.currentUser.lastName}}">
			</li>
			<li>
				<a class="nav-link font-weight-bold" href="#!/profile/{{$root.currentUser._id}}">{{$root.currentUser.firstName}}</a>
			</li>

			<li class="nav-item">
				<div class="dropdown1">
					<button class="mr-2 btn btn-purple" type="button" id="dropdownMenuButton"
					 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="icon mt-1 fas fa-envelope"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right messagesNavDiv my-0" aria-labelledby="dropdownMenuButton">
						<p class="ml-2 font-weight-bold">Messeges</p>
						<div ng-click="addToAciveChats({chatRoom: chatRoom})" ng-repeat="chatRoom in chatRoomsObjects track by $index">
							<hr>
							<a class="dropdown-item">
								<div class="row">
									<div class="col- mx-3">
										<img class="img-fit w-40 img-fluid rounded-circle d-block mx-auto" width="40" ng-src="{{chatRoom.user1.isMe ? chatRoom.user2.profilePic : chatRoom.user1.profilePic}}" alt="">
									</div>
									<div class="col- mr-auto">
										<p class="messageNameAndText h6 font-weight-bold">{{chatRoom.user1.isMe ? chatRoom.user2.name : chatRoom.user1.name}}</p>
										<small class="lastMessage list-group-item-text c-gray">{{chatRoom.content.slice().pop().text}}</small>
									</div>
									<div class="col-">
											<small class="messageNameAndText list-group-item-text c-gray">{{chatRoom.content.slice().pop().date}}</small>
									</div>
								</div>
							</a>
							<hr>
						</div>
						<a id="openInMessenger" href="#!/messenger">Open Messenger</a>
					</div>
				</div>
			</li>
			<li>
				<div class="dropdown1">
					<button ng-click="onFirendRequests(sendedFriendRequests)" class="btn btn-purple" type="button" id="dropdownMenuButton" data-toggle="dropdown"
					 aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-users mt-1"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
						<p class="ml-2 font-weight-bold">Received Friend Requests</p>
						<div ng-repeat="friendReq in receivedFriendRequests track by $index">
							<hr>
							<a class="dropdown-item" href="#!/profile/{{friendReq._id}}">
								<div class="row">
									<div class="col- mr-2">
										<img class="img-fit w-40 img-fluid rounded-circle d-block mx-auto" width="40" ng-src="{{friendReq.profilePic}}" alt="">
									</div>
									<div class="col- mr-auto mt-2">
										<p class="font-weight-bold">{{friendReq.firstName}} {{friendReq.lastName}}</p>
									</div>
									<div class="col- ml-auto">
										<button ng-click="onConfirmFriendReuest({$event: $event, senderId:friendReq, receiverId: $root.currentUser})" class="btn btn-secondary btn-sm font-weight-bold">Confirm</button>
										<button ng-click="onDeleteFriendReuest({$event: $event, senderId:friendReq._id, receiverId: $root.currentUser._id})" class="btn btn-primary btn-sm font-weight-bold">Delete</button>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<a ng-click=logout({$event:$event}) class="nav-link font-weight-bold" href="#!/login">Log out</a>
			</li>
		</ul>
	</div>
	<div class="dropdown">
		<button class="btn btn-purple btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
			<span class="navbar-toggler-icon"></span>
		</button>
		<ul class="dropdown-menu">
			<li>
				<img data-no-retina="" class="img-fit w-40 img-fluid rounded-circle d-block mx-auto img-bordered-primary mt-1 mb-2" ng-src="{{$root.currentUser.profilePic}}"
				 alt="{{$root.currentUser.firstName}} {{$root.currentUser.lastName}}">
				<a class="nav-link font-weight-bold" href="#!/profile/{{$root.currentUser._id}}">{{$root.currentUser.firstName}}</a>
			</li>
			<li class="nav-item">
					<div class="dropdown">
						<button class="mr-2 btn btn-purple" type="button" id="dropdownMenuButton"
						 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="messenger icon mt-1 fas fa-envelope"></i> <a href="" class="nav-link font-weight-bold"> Messenger</a>
						</button>
						<div class="dropdown-menu dropdown-menu-right messagesNavDiv my-0" aria-labelledby="dropdownMenuButton">
							<p class="ml-2 font-weight-bold">Messeges</p>
							<div ng-click="addToAciveChats({chatRoom: chatRoom})" ng-repeat="chatRoom in chatRoomsObjects track by $index">
								<hr>
								<a class="dropdown-item">
									<div class="row">
										<div class="col- mx-3">
											<img class="img-fit w-40 img-fluid rounded-circle d-block mx-auto" width="40" ng-src="{{chatRoom.user1.isMe ? chatRoom.user2.profilePic : chatRoom.user1.profilePic}}" alt="">
										</div>
										<div class="col- mr-auto">
											<p class="messageNameAndText h6 font-weight-bold">{{chatRoom.user1.isMe ? chatRoom.user2.name : chatRoom.user1.name}}</p>
											<small class="lastMessage list-group-item-text c-gray">{{chatRoom.content.slice().pop().text}}</small>
										</div>
										<div class="col-">
												<small class="messageNameAndText list-group-item-text c-gray">{{chatRoom.content.slice().pop().date}}</small>
										</div>
									</div>
								</a>
								<hr>
							</div>
							<p class="openInMessenger" href="#!/messenger">Open Messenger</p>
						</div>
					</div>
				</li>
			<li>
				<div>
					<button ng-click="onFirendRequests(sendedFriendRequests)" class="btn btn-purple" type="button" id="dropdownMenuButton" data-toggle="dropdown"
					 aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-users mt-1"></i>
						<a href="" class="nav-link font-weight-bold">Friend requests</a>
					</button>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
						<p class="ml-2 font-weight-bold">Received Friend Requests</p>
						<div ng-repeat="friendReq in receivedFriendRequests track by $index">
							<hr>
							<a class="dropdown-item" href="#!/profile/{{friendReq._id}}">
								<div class="row">
									<div class="col- mr-2">
										<img class="img-fit w-40 img-fluid rounded-circle d-block mx-auto" width="40" ng-src="{{friendReq.profilePic}}" alt="">
									</div>
									<div class="col- mr-auto mt-2">
										<p class="font-weight-bold">{{friendReq.firstName}} {{friendReq.lastName}}</p>
									</div>
									<div class="col- ml-auto">
										<button ng-click="onConfirmFriendReuest({$event: $event, senderId:friendReq, receiverId: $root.currentUser})" class="btn btn-secondary btn-sm font-weight-bold">Confirm</button>
										<button ng-click="onDeleteFriendReuest({$event: $event, senderId:friendReq._id, receiverId: $root.currentUser._id})" class="btn btn-primary btn-sm font-weight-bold">Delete</button>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<a ng-click=logout({$event:$event}) class="nav-link font-weight-bold" href="#!/login"><i class="logout fas fa-sign-out-alt"></i> Log out</a>
			</li>
		</ul>
	</div>
	<!-- </div> -->

</nav>
<div id="navSeparator"></div>