<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark nav-color-purple">

	<div class="container">
		<img id="logo" width="35" src="images/logo.png" alt="">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="form-inline my-1 mx-sm-3 mr-auto">
				<div class="input-group">
					<input ng-change="searchUser()" list="users" ng-model="userName" type="text" class="form-control form-control-sm" placeholder="Search for...">

					<!-- <datalist id="users" ng-change="selectUser()" ng-model="selectedUserId">
						<option ng-repeat="foundUser in foundUsers track by $index" ng-value="foundUser._id">{{foundUser.firstName}}</option>
					</datalist> -->
					{{selectedUserId}}
					<select class="custom-select" ng-change="selectUser()" ng-model="selectedUserId">
						<option ng-repeat="foundUser in foundUsers track by $index" ng-value="foundUser._id">{{foundUser.firstName}}</option>
					</select>

					<span class="input-group-btn">
						<button class="btn btn-secondary" type="button">Go!</button>
					</span>
				</div>
			</form>
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<img width="30" data-no-retina="" class="rounded-circle img-fluid img-bordered-primary mb-2" ng-src="{{user.profilePic}}"
					 alt="{{currentUser.firstName}} {{currentUser.lastName}}">
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold" href="#">{{user.firstName}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold" ng-click="selectUser()" href="#">Log out</a>
				</li>
			</ul>
		</div>

	</div>

</nav>
<div id="navSeparator"></div>