body {
    background-color: #e9ebee !important;
  }
  
  .nav-color-purple {
    background-color: #563d7c;
  }
  
  #logo {
    color: azure;
    text-shadow: 0px 0px 1px black;
    border-radius: 2px;
  }
  #mainNav{
    position: fixed;
    top:0em;
    z-index: 9000;
    width: 100%;
    height: 4em;
  }
  #navSeparator{
    margin-bottom: 4.2em;
  }
  
  #friends-req-icon {
    background-color: #e9ebee
  }

  .dropdown-menu {
    width: 500px !important;
    font-size: 0.8em;
    box-shadow: 0px 0px 10px #0000004b;
}
