<nav class="navbar navbar-expand-lg navbar-dark nav-color-purple">

	<div class="container">
		<img id="logo" width="30" src="images/logo.png" alt="">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="form-inline my-1 mx-sm-3 ml-auto">
				<div class="input-group">
					<input type="text" class="form-control form-control-sm" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-secondary" type="button">Go!</button>
					</span>
				</div>
			</form>
		</div>
	</div>

</nav>