<div class="container bootstrap snippet">
    <div class="tile tile-alt" id="messages-main">
        <div class="ms-menu">
            <div class="p-15">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    New Message
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="text" ng-change="searchUserToChat(nameToSearch)" ng-model="$parent.nameToSearch" class="form-control">
                                <ul ng-if="foundUsersToChat.length > 0" class="list-group">
                                    <li ng-repeat="foundUser in foundUsersToChat track by $index" ng-click="selectUserToChat(foundUser)" class="list-group-item">{{foundUser.firstName}}</li>
                                </ul>
                                <hr>
                                <textarea ng-model="$parent.modalMessageToSend" class="form-control" id="exampleTextarea" rows="3" placeholder="Message..."></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button ng-click="sendModalMessage()" type="button" class="btn btn-primary" data-dismiss="modal">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ms-user clearfix">
                <img ng-src="{{$root.currentUser.profilePic}}" alt="" class="img-avatar pull-left">
                <div>Signed in as
                    <br> {{$root.currentUser.email}}</div>
            </div>


            <div ng-repeat="chatRoom in chatRoomsObjects track by $index" class="list-group lg-alt">
                <a ng-click="changeCurrentChatRoom(chatRoom)" class="list-group-item media" href="">
                    <div class="float-left">
                        <img ng-src="{{chatRoom.user1.isMe ? chatRoom.user2.profilePic : chatRoom.user1.profilePic}}" alt="" class="img-avatar">
                    </div>
                    <div class="media-body ml-5">
                        <div class="h6 list-group-item-heading">{{chatRoom.user1.isMe ? chatRoom.user2.name : chatRoom.user1.name}}</div>
                        <small class="list-group-item-text c-gray">{{chatRoom.content.slice().pop().text}}</small>
                    </div>
                </a>

            </div>

        </div>

        <div class="ms-body">
            <div class="action-header clearfix">
                <div class="visible-xs" id="ms-menu-trigger">
                    
                </div>

                <div class="pull-left hidden-xs">
                    <img ng-src="{{currentChatRoom.user1.isMe ? currentChatRoom.user2.profilePic : currentChatRoom.user1.profilePic}}" alt=""
                        class="img-avatar m-r-10">
                    <div class="lv-avatar pull-left">

                    </div>
                    <span>{{currentChatRoom.user1.isMe ? currentChatRoom.user2.name : currentChatRoom.user1.name}}</span>
                </div>

                <ul class="ah-actions actions">
                    <li>
                        <a href="">
                            <i class="fa fa-trash"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-check"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-clock-o"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-sort"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Latest</a>
                            </li>
                            <li>
                                <a href="">Oldest</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-bars"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Message Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="message-containter">
                <div ng-repeat="message in currentChatRoom.content | orderBy:'id':true track by $index">
                    <div ng-class="currentChatRoom.user1.isMe && message.sender === currentChatRoom.user1._id ? 'message-feed right' : currentChatRoom.user2.isMe && message.sender === currentChatRoom.user2._id ? 'message-feed right' : 'message-feed media'">

                        <div ng-class="pull-left">
                            <img ng-src="{{message.profilePic}}" alt="" class="img-avatar">
                        </div>
                        <div class="media-body">
                            <div class="mf-content">
                                {{message.text}}
                            </div>
                            <small class="mf-date">
                                <i class="fa fa-clock-o"></i>{{message.date}}</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="msb-reply">
                <textarea ng-keydown="sendDouEnter($event)" ng-model="$parent.messageText" placeholder="What's on your mind..."></textarea>
                <button ng-click="sendMessage(currentChatRoom)">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>