<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<link href="/js/photoGallery/photoGallery.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center ">

      <div class="profile-cover">
        <div class="cover rounded shadow no-overflow">
          <div class="inner-cover">
            <!-- Cover photo -->
            <img ng-src="{{profile.coverPhoto}}" class=" img-fluid full-width my-cover" alt="cover">
          </div>
          <page-navigation is-Owner=isOwner profile=profile page=page></page-navigation>
        </div>
      </div>
    </div>
    <!-- /.col-md-12 -->
    <div class="col-md-4 col-sm-12 pull-right">
      <div class="panel panel-default">

        <div class="col-md-12">
          <h1>Explore</h1>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="fa fa-comment"></span>
              <a href="#!/messenger"> Messenger</a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
    <div class="col-lg-8 col-md-7">

      <div id="postContainer">
        <div class="pleaseWait" ng-if="posts.displayedPosts.length==0">You don't have posts yet.</div>
        <!-- Post from directive -->
        <div ng-if="posts.displayedPosts.length>0">
          <div ng-repeat="post in posts.displayedPosts track by $index">
            <post post=post newcomment=newComment addcomment=addComment(postId) getuser=getUserById(userId) calculatetime=calculateTimeInterval(date)>
            </post>
          </div>
          <!-- end of ng repeat-->
          <div ng-if="(posts.displayedPosts.length>1) && (!posts.allPostsLoaded)" class="pleaseWait spinner-1">
          </div>
          <div ng-if="(posts.displayedPosts.length==1)&& (!posts.allPostsLoaded)" class="pleaseWait">
            Scroll down for new posts.
          </div>
          <div ng-if="posts.allPostsLoaded" class="pleaseWait">
            No more posts.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>