body {
  font-size: 15px;
  background-color: #e9ebee !important;
}

.btn-purple {
  background-color: #563d7c;
  color: #e9ebee;
}

.card-header {
  background-image: none;
  background-color: #563d7c !important;
  color: #e9ebee;
}
.post-header{
  background: linear-gradient(to bottom left, #563d7c , rgb(125, 41, 146)) !important;
  border: none !important
}

.link {
  color: rgb(0, 74, 212);
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.divider {
  height: 10px;
  display: block;
}

/* ========================================================================
     * FORM MISC
     * ======================================================================== */
.input-group-addon {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  min-width: 39px;
}
.input-group-addon .ckbox,
.input-group-addon .rdio {
  position: absolute;
  top: 4px;
  left: 10px;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.input-sm,
.form-group-sm .form-control {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.form-control {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 640px) {
  .form-inner-all [class*="col-"]:last-child .form-control {
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
 .inner-all{
   text-align: center;
 }
 ul.cover-menu{
   padding-left:0 !important;
   text-align: center !important;
  
 }
}


/* ========================================================================
     * PROFILE
     * ======================================================================== */
.profile-cover {
  width: 100%;
}
.profile-cover .cover {
  position: relative;
  border: 10px solid #fff;
}
.profile-cover .cover .inner-cover {
  overflow: hidden;
  height: auto;
}
.profile-cover .cover .inner-cover img {
  border: 1px solid transparent;
  text-align: center;
  width: 100%;
}
.profile-cover .cover .inner-cover .cover-menu-mobile {
  position: absolute;
  top: 10px;
  right: 10px;
}
.profile-cover .cover .inner-cover .cover-menu-mobile button i {
  font-size: 17px;
}
.profile-cover .cover ul.cover-menu {
  padding-left: 150px;
  position: absolute;
  overflow: hidden;
  left: 1px;
  float: left;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.24);
}
.profile-cover .cover ul.cover-menu li {
  display: block;
  float: left;
  margin-right: 0px;
  padding: 0px 10px;
  line-height: 40px;
  height: 40px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.profile-cover .cover ul.cover-menu{
  background-color: rgba(47, 20, 83, 0.493);
}
.profile-cover .cover ul.cover-menu li:hover {
  background-color: rgba(12, 11, 78, 0.671);
}
.profile-cover .cover ul.cover-menu li.active {
  background-color: rgba(25, 9, 99, 0.801);
}
.profile-cover .cover ul.cover-menu li a {
  color: #fff;
  font-weight: bold;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}
.profile-cover .cover ul.cover-menu li a i {
  font-size: 18px;
}
.profile-cover .profile-body {
  margin: 0px auto 10px;
  position: relative;
}
.profile-cover .profile-timeline {
  padding: 15px;
}
.img-post {
  width: 3em;
  height: 3em;
  margin-right: 1.2em;
}
.img-post2 {
  width: 50px;
  height: 50px;
}

.fa-heart:hover {
  color: red;
}
.fa-cog{
  margin-left: 2em;
}
.editPostOptions{
  background: white;
  color: black;
  position: absolute;
  top:2.5em;
  /* left: 80px; */
  padding: 0.2em;
  margin: none;
  z-index: 300;
  list-style: none;
  width: 100px
}
.editPostOptions>p{
 margin: 0px 0px 0px 1em !important;
 cursor: pointer;
}
.comment {
  border-bottom: #563d7c 1px solid;
  margin-bottom: 0.7em;

}
.comment img{
  height: 2.5em;
  width: 2.5em;
}
.post {
  box-sizing: border-box;
  margin-bottom: 1em;
  /* float: left !important; */
  /* display: inline-block;
 width:30% */
}
.your-comment button:hover {
  /* background-color: #e9ebee; */
  font-weight: bold;
}
.your-comment input{
border-radius: 0.7em
}
.new-post{
  margin:auto;
  /* padding: 2px; */
  box-sizing: border-box;
  /* background-color: rgb(243, 227, 225); */
  border: 1px solid dodgerblue
}
.new-post .card-footer{
  /* height: 2em; */
  padding: 6px 10px;
}
p.date{
font-style: italic;
font-size: 0.8rem
}
/* #loggedUserInfo{
  border:3px black solid;
  position: absolute;
}
#profilePageWrapper{
  position: relative;
} */
#postContainer{
  min-height: 400px;
  max-height: 600px;
  overflow: scroll;
}
.post-content{
  font-size: 3em;
  text-align: center;
}

.img-fit {
  object-fit: cover; 
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 200px;
}

.memberblock {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 15px
}
.member {
	width: 30%;
	float: left;
	margin: 2px 1% 2px 0;
	background: #ffffff;
	border: 1px solid #d8d0c3;
	padding: 3px;
	position: relative;
	overflow: hidden
}
.memmbername {
	position: absolute;
	bottom: -30px;
	background: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	line-height: 30px;
	padding: 0 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	font-size: 11px;
  transition: 0.5s ease all;
}
.member:hover .memmbername {
	bottom: 0
}
.member img {
	width: 100%;
	transition: 0.5s ease all;
}
.member:hover img {
	opacity: 0.8;
	transform: scale(1.8)
}
memberblock {
  max-height: 100%;
}

.card-content {
  height: 20% !important;  
}