<!-- <div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk=" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk=" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>Eli Macy</h1>
            <p>Girls just wanna go fun.</p>
        </div>
    </div>
</div> <!-- /container --> 

<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->


<div class="container bootstrap snippets mt-2">
        <div class="row mb-4 p-1">
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="card rounded shadow mb-2">
                    <div class="card-block m-4">
                        <div class="inner-all">
                            <ul class="list-unstyled">
                                <li class="text-xs-center">
                                    <img data-no-retina="" class="rounded-circle img-fluid img-bordered-primary" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="John Doe">
                                </li>
                                <li class="text-xs-center">
                                    <h6 class="text-capitalize">{{currentUser.firstName}} {{currentUser.lastName}}</h6>
                                    <p class="text-muted text-capitalize">web designer</p>
                                </li>
                                <li>
                                    <a href="" class="btn btn-purple text-xs-center btn-block">PRO Account</a>
                                </li>
                                <li><br></li>
                                <li>
                                    <div class="btn-group-vertical btn-block">
                                        <a href="" class="btn btn-secondary"><i class="fa fa-cog float-right"></i>Edit Account</a>
                                        <a href="" class="btn btn-secondary"><i class="fa fa-sign-out float-right"></i>Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.panel -->
        
                <div class="card panel-theme rounded shadow">
                    <div class="card-header">
                        <div class="float-left">
                            <h3 class="card-header h5">Contact</h3>
                        </div>
                        <div class="float-right mt-2">
                            <a href="#" class="btn btn-sm btn-purple"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn btn-sm btn-purple"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn btn-sm btn-purple"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="card-block m-3 no-padding rounded">
                        <span ng-click="onChangeContact()" class="link">change</span>
                        <ul ng-if="!changeTriggered" class="list-group no-margin">
                            <li class="list-group-item"><i class="fa fa-envelope"></i> {{currentUser.email}}</li>
                            <li ng-if='currentUser.site' class="list-group-item"><i class="fa fa-globe"></i> www.bootdey.com</li>
                            <li ng-if='!currentUser.site' class="list-group-item"><i class="fa fa-globe"></i><input ng-model="currentUser" class="float-right d-inline form-control" type="text"></li>
                            <li class="list-group-item"><i class="fa fa-phone"></i> +6281 903 xxx xxx</li>
                        </ul>
                        <ul ng-if="changeTriggered" class="list-group no-margin">
                            <li class="list-group-item"><i class="fa fa-envelope"></i> {{currentUser.email}}</li>
                            <li class="list-group-item">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">@</div>
                                    </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                              </div>
                            </li>
                            <li class="list-group-item"><i class="fa fa-phone"></i> +6281 903 xxx xxx</li>
                        </ul>
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
        
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8">
        
            <div class="profile-cover">
                <div class="cover rounded shadow no-overflow">
                    <div class="inner-cover">
                        <!-- Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). -->
                        <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                            <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu float-right no-border" role="menu">
                                <li class="dropdown-item"><a href="#"><i class="m-2 fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                                <li class="dropdown-item"><a href="#"><i class="m-2 fa fa-fw fa-user"></i> <span>About</span></a></li>
                                <li class="dropdown-item"><a href="#"><i class="m-2 fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>
                                <li class="dropdown-item"><a href="#"><i class="m-2 fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>
                                <li class="dropdown-item"><a href="#"><i class="m-2 fa fa-fw fa-envelope"></i> <span>Messages</span> <small>(7 new)</small></a></li>
                            </ul>
                        </div>
                        <img  src="http://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg" class="img-fluid full-width" alt="cover" style="max-height:200px;">
                    </div>
                    <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu">
                        <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>
                        
                    </ul>
                </div><!-- /.cover -->
            </div><!-- /.profile-cover -->
            <div class="divider"></div>
            <div class="rounded shadow">
                <form action="...">
                    <textarea class="form-control form-control-lg no-border" rows="2" placeholder="What are you doing?..."></textarea>
                </form>
                <div class="card-footer">
                    <button class="btn btn-purple float-right">POST</button>
                    <ul class="nav nav-pills">
                        <li><a href="#"><i class="m-3 fa fa-user"></i></a></li>
                        <li><a href="#"><i class="m-3 fa fa-map-marker"></i></a></li>
                        <li><a href="#"><i class="m-3 fa fa-camera"></i></a></li>
                        <li><a href="#"><i class="m-3 fa fa-smile-o"></i></a></li>
                    </ul><!-- /.nav nav-pills -->
                </div><!-- /.panel-footer -->
            </div><!-- /.panel -->
            <div class="row mb-4 p-1">
                <!-- Post from directive -->
                {{calculateTimeInterval("2018-04-25T21:47:01.544Z")}}
                <div ng-repeat="post in posts">
                    <post post=post  getuser=getUserById(userId) calculatetime=calculateTimeInterval(date)>

                    </post>
                </div> <!-- end of ng repeat-->
                <!-- Post -->
                <div class="col-md-6">
                    <div class="card rounded shadow">
                        <div class="card-header no-border">
                            <div class="float-left half">
                                <div class="media">
                                    <div class="media-object float-left">
                                        <img width="50" class="mr-2 rounded-circle img-fluid img-bordered-primary" src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="...">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-heading block mb-0 h6 text-white">John Doe</a>
                                        <span class="text-white h6">on 8th June, 2014</span>
                                    </div>
                                </div>
                            </div><!-- /.pull-left -->
                            <div class="float-right">
                                <a href="#" class="text-white h6"><i class="fa fa-heart"></i> 15.5K</a>
                            </div><!-- /.pull-right -->
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="card-block m-4 no-padding">
                            <div class="inner-all block">
                                <h6>Upload on my album :D</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, iste omnis fugiat porro consequuntur ratione iure error reprehenderit cum est ab similique magnam molestias aperiam voluptatibus quia aliquid! Sed, minima.
                                </p>
                                <blockquote class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, delectus!</blockquote>
        
                                <img data-no-retina="" src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk=" alt="..." width="100">
                                <img data-no-retina="" src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk=" alt="..." width="100">
                                <img data-no-retina="" src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk=" alt="..." width="100">
                            </div><!-- /.inner-all -->
                            <div class="inner-all">
                                view all <a href="#">7 comments</a>
                            </div>
                        </div><!-- /.panel-body -->
                        <div class="card-footer no-padding no-border">
                            <div class="media inner-all no-margin">
                                <div class="float-left">
                                    <img width="50" class="mx-2 rounded-circle img-fluid img-bordered-primary" src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-post2">
                                </div><!-- /.pull-left -->
                                <div class="media-body">
                                    <a href="#" class="h6">John Doe</a>
                                    <small class="block text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </small>
                                    <em class="text-xs text-muted">Posted on <span class="text-danger">Dec 08, 2014</span></em>
                                </div><!-- /.media-body -->
                            </div><!-- /.media -->
                            <div class="line no-margin"></div><!-- /.line -->
                            <div class="media inner-all no-margin">
                                <div class="float-left">
                                    <img width="50" class="mx-2 rounded-circle img-fluid img-bordered-primary" src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="..." class="img-post2">
                                </div><!-- /.pull-left -->
                                <div class="media-body">
                                    <a href="#" class="h6">John Doe</a>
                                    <small class="block text-muted">Quaerat, impedit minus non commodi facere doloribus nemo ea voluptate nesciunt deleniti.</small>
                                    <em class="text-xs text-muted">Posted on <span class="text-danger">Dec 08, 2014</span></em>
                                </div><!-- /.media-body -->
                            </div><!-- /.media -->
                            <div class="line no-margin"></div><!-- /.line -->
                            <form action="#" class=" inner-all">
                                <div class="input-group has-feedback no-margin">
                                        <input type="text" class="form-control form-control-sm" placeholder="Your comment here...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-purple" type="button">POST</button>
                                        </span>
                                    </div>
                            </form><!-- /.form-horizontal -->
                        </div><!-- /.panel-footer -->
                    </div><!-- /.panel -->
                </div>

            </div>
        </div>
    </div>
</div>