<!-- <div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk=" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk=" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>Eli Macy</h1>
            <p>Girls just wanna go fun.</p>
        </div>
    </div>
</div> <!-- /container -->

<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<div id="profilePageWrapper"  class="container bootstrap snippets mt-2">
    <div class="row mb-4 p-1">
        <!-- aside logged user info and phnoto -->
    
        <div ng-controller="ProfileInfoController" id="loggedUserInfo" class="col-lg-4 col-md-5">
            <div class="card rounded shadow mb-2">
                <div class="card-block mx-5 my-3">
                    <div class="inner-all">
                        <ul class="text-center list-unstyled">
                            <li  class=" text-center">                                                     
                                <div class="spinholder">
                                       
                                    <div ng-if="newProfilePic.busy" class="spinner-1" ></div>
                                    <img data-no-retina="" 
                                        ng-class="newProfilePic.busy ? 'changing  img-fit img-thumbnail img-fluid d-block mx-auto img-bordered-primary mb-2' : 'img-fit img-thumbnail img-fluid d-block mx-auto img-bordered-primary mb-2'"
                                        ng-src="{{profile.profilePic}}"
                                        alt="{{profile.firstName}} {{profile.lastName}}">
                                </div>
                                    <div ng-show="isOnwer"  title="Change profile picture." class="image-upload">
                                        <p ng-if="newProfilePic.busy">loading your image...</p>
                                        <label for="selectedFile"><i class="far fa-image"></i></label>
                                        <input ng-show="isOnwer" type="file" id="selectedFile">
                                        <button title="Save this image as your new profile picture." ng-if="newProfilePic.uploaded" ng-click="saveAcount(profile, newProfilePic.url,false)" class="btn btn-save btn-success btn-sm mt-2">SAVE</button>
                                       
                                    </div>
                            </li>
                           
                            <li class="text-center mt-4">
                                <h6 class="text-capitalize">{{profile.firstName}} {{profile.lastName}}</h6>
                                <p class="text-muted text-capitalize">web designer</p>
                            </li>
                            <li>
                                <a href="" ng-if="areFriends !== null && !isOnwer" ng-click="sendFriendRequest($root.currentUser._id, profile._id)" class="btn btn-purple text-xs-center btn-block">{{areFriends ? 'Unfriend' : friendsRequestSended ? 'Cancel Friend Request' : 'Send Friend Request'}}</a>
                            </li>
                            <li>
                                <br>
                            </li>
                            <li>
                                <div ng-if="isOnwer" class="btn-group-vertical btn-block">
                                    <a ng-click="onChangeMode()" href="" class="btn btn-secondary">
                                        <i class="fa fa-cog float-right"></i>{{!editMode ? 'Edit Account' : 'Save'}}</a>
                                    <a ng-click="logout($event)" href="" class="btn btn-secondary">
                                        <i class="fas fa-sign-in-alt float-right" ></i>Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel -->

            <div class="mb-2 card panel-theme rounded shadow">
                <div class="card-header">
                    <div class="float-left">
                        <h3 class="card-header h5">Contact</h3>
                    </div>
                    <div class="float-right mt-2">
                        <a href="#" class="btn btn-sm btn-purple">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-purple">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-purple">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- /.panel-heading -->
                <div class="card-block m-3 no-padding rounded">
                    <ul ng-if="!editMode" class="list-group no-margin">
                        <li class="list-group-item">
                            <i class="fa fa-envelope"></i>
                            <span class="float-right">{{profile.email}}</span>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-globe"></i>
                            <span class="float-right">{{profile.site || 'none'}}</span>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-phone"></i>
                            <span class="float-right">{{profile.phone || 'none'}}</span>
                        </li>
                    </ul>
                    <ul ng-if="editMode" class="list-group no-margin">
                        <li class="list-group-item">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <input ng-model="profile.email" type="text" class="form-control" id="inlineFormInputGroup" value="{{profile.email}}">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <input ng-model="profile.site" type="text" class="form-control" id="inlineFormInputGroup" value="{{profile.site}}">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input ng-model="profile.phone" type="text" class="form-control" id="inlineFormInputGroup" value="{{profile.site}}">
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <div class="card">
                <div class="card-header">
                    <h3 class="h5 page-header small">Recently Connected</h3>
                    <p class="page-subtitle small">You have recently connected with {{profileFriends.length}} friends</p>
                </div>
                <div class="col-lg-12 mt-2">
                    <div class="card-content memberblock">
                        <a  ng-repeat="friend in profileFriends track by $index" href="#!/profile/{{friend._id}}" class="w-55 member">
                            <img class="img-fluid d-block mx-auto" ng-src="{{friend.profilePic}}" alt="">
                            <div class="memmbername">{{friend.firstName}} {{friend.lastName}}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-7">
            <div  ng-controller="ProfileInfoController"  class="profile-cover">
                <div class="cover rounded shadow no-overflow">
                    <!-- CHANGE COVER PHOTO -->
                    <div ng-show="isOnwer" title="Change cover picture." class="changeCover image-upload">
                        <label ng-show="!newCoverPhoto.uploaded" for="selectedFile2">
                            <i class="far fa-image"></i>
                        </label>
                     
                        <input type="file" id="selectedFile2">
                        <button ng-show="newCoverPhoto.uploaded" ng-click="saveAcount(profile, newCoverPhoto.url,true )" class="btn btn-success btn-sm mt-2">SAVE</button>
                    </div>
                    <div class="inner-cover">            
                        <!-- Cover photo -->
                        <!--  ng-class="newCoverPhoto.busy ? 'changing img-fluid full-width ' : 'img-fluid full-width'" -->
                        <div ng-if="newCoverPhoto.busy" class="spinner-1" ></div>
                        <img ng-src="{{profile.coverPhoto}}" ng-class="newCoverPhoto.busy ? 'changing img-fluid full-width ' : 'img-fluid full-width'" alt="cover" style="max-height:200px;">
                    </div>
                    <!-- PAGE NAVIFATION -->
                    <page-navigation is-Owner=isOwner profile=profile page=page></page-navigation>
                </div>
                <!-- /.cover -->
            </div>
            <!-- /.profile-cover -->
            <div class="divider"></div>
            <div class="new-post mb-4 rounded shadow">
                <form action="...">
                    <textarea ng-model=newPost.text class="form-control form-control-lg no-border" rows="2" placeholder="{{newPost.placeholder}}"
                        maxlength="150"></textarea>
                </form>
                <div id="photoholder" >
                    <div ng-class="newPost.busy?'big-photoholder spinner-1':'none'">
                    <img ng-if=newPost.photoUrl ng-src="{{newPost.photoUrl}}" alt="">
                </div>
                </div>
                <div class="card-footer">
                    <button ng-click=addPost($event) class="btn btn-purple  float-right">POST</button>
                    <ul class="nav nav-pills">
                        <li>
                            <div title="Photo" class="image-upload">
                                <label for="file-input">
                                    <img src="images/icons/photoUpload.png" />
                                </label>
                                <input id="file-input" ng-model="newPost.photoUrl" ng-change="newPost.procesPhoto()" type="file" />
                            </div>
                        </li>
                   
                    </ul>
                    <!-- /.nav nav-pills -->
                </div>
                <!-- /.panel-footer -->
            </div>
            <!-- /.panel -->
            <div id="postContainer">
                <div class="pleaseWait" ng-if="posts.displayedPosts.length==0">You don't have posts yet.</div>
                <!-- Post from directive -->
                <div ng-if="posts.displayedPosts.length>0">
                    <div ng-repeat="post in posts.displayedPosts track by $index">
                        <post post=post newcomment=newComment addcomment=addComment(postId) getuser=getUserById(userId) calculatetime=calculateTimeInterval(date)>
                        </post>
                    </div>
                    <!-- end of ng repeat-->
                    <div ng-if="(posts.displayedPosts.length>1) && (!posts.allPostsLoaded)" class="pleaseWait spinner-1">
                    </div>
                    <div ng-if="(posts.displayedPosts.length==1)&& (!posts.allPostsLoaded)" class="pleaseWait">
                        Scroll down for new posts.
                    </div>
                    <div ng-if="posts.allPostsLoaded" class="pleaseWait">
                        No more posts.
                    </div>
                </div>

            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>