.profile-cover {
  width: 96%;
  max-height: 250px;
  position: relative;
}
.profile-cover img {
  height: 100%;
}
.profile-cover .cover {
  position: relative;
  border: 10px solid #fff;
}
.profile-cover .cover .inner-cover {
  /* overflow: hidden; */
  height: auto;
}
.profile-cover .cover .inner-cover img {
  border: 1px solid transparent;
  text-align: center;
  width: 100%;
}
.profile-cover .cover .inner-cover .cover-menu-mobile {
  position: absolute;
  top: 10px;
  right: 10px;
}
.profile-cover .cover .inner-cover .cover-menu-mobile button i {
  font-size: 17px;
}
.profile-cover .cover ul.cover-menu {
  /* padding-left: 150px; */
  position: absolute;
  z-index: 100;
  /* overflow: hidden;
    left: 1px;
    float: left; */
  bottom: 0px;
  width: 100%;
  margin: 0px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.24);
}
.profile-cover .cover ul.cover-menu li {
  display: block;
  float: left;
  /* margin-right: 0px;
    padding: 0px 10px; */
  width: 25%;
  text-align: center;
  line-height: 40px;
  height: 40px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.profile-cover .cover ul.cover-menu {
  background-color: rgba(47, 20, 83, 0.493);
}
.profile-cover .cover ul.cover-menu li:hover {
  background-color: rgba(12, 11, 78, 0.671);
}
.profile-cover .cover ul.cover-menu li.active {
  background-color: rgba(25, 9, 99, 0.801);
}
.profile-cover .cover ul.cover-menu li a {
  color: #fff;
  font-weight: bold;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}
.profile-cover .cover ul.cover-menu li a i {
  font-size: 18px;
}
.profile-cover .profile-body {
  margin: 0px auto 10px;
  position: relative;
}
.profile-cover .profile-timeline {
  padding: 15px;
}
.profile-picture {
  width: 150px !important;
  height: 150px !important;
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -75px;
  top: 50%;
  margin-top: -75px;
}
@media (max-width: 660px){
    .profile-picture {
        margin-top:-105px 
    }

    .profile-cover .cover ul.cover-menu {
        position: absolute;
        z-index: 100;
        bottom: 0px;
        width: 100%;
        margin: 0px;
        background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.24);
      }
      .profile-cover .cover ul.cover-menu li {
        display: block;
        float: left;
        width: 50%;
        text-align: center;
        line-height: 40px;
        height: 40px;
      }
}
