<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div ng-controller="PhotoGalleryController" class="container">
  <div class="row">

    <div class="profile-cover">
      <div class="cover rounded shadow no-overflow">
        <div class="inner-cover">
          <!-- Cover photo -->
          <img ng-src="{{profile.coverPhoto}}" class="img-fluid full-width" alt="cover" >
         <img  ng-src="{{profile.profilePic}}" alt="" class="profile-picture">
        
        </div>
        <page-navigation is-Owner=isOwner profile=profile page=page></page-navigation>
      </div>
      <!-- /.cover -->
    </div>
</div>

<div id="gallery" class="row">
  <span ng-if="profile.photos.length>0">
    <span ng-repeat="photo in profile.photos track by $index">
      <img ng-click="changePhoto(photo)" ng-src="{{photo}}" alt="">
    </span>
  </span>
  <div class="noPhotos" ng-if="profile.photos.length==0">
    No photos yet.
  </div>
</div>

 <div ng-show="displayedPhoto.url.length>0" id="big-image">
    <div ng-click="previous()" id="arrow-left" class="arrow"></div>
    <div ng-click="displayedPhoto.url=''" class="close-icon"></div>
  <img ng-src="{{displayedPhoto.url}}" alt="">
  <div ng-click="next()" id="arrow-right" class="arrow"></div>
  <div>
    <ul>
      <li>Image {{displayedPhoto.number}} of {{profile.photos.length}}.</li>
    </ul>
  </div>
</div>
</div>