.profile-cover {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 3em;
  max-height: 250px;
  position: relative;
}
.profile-cover img {
  height: 100%;
}
.profile-cover .cover {
  position: relative;
  border: 10px solid #fff;
}
.profile-cover .cover .inner-cover {
  /* overflow: hidden; */
  height: auto;
}
.profile-cover .cover .inner-cover img {
  border: 1px solid transparent;
  text-align: center;
  width: 100%;
}
.profile-cover .cover .inner-cover .cover-menu-mobile {
  position: absolute;
  top: 10px;
  right: 10px;
}
.profile-cover .cover .inner-cover .cover-menu-mobile button i {
  font-size: 17px;
}
.profile-cover .cover ul.cover-menu {
  /* padding-left: 150px; */
  position: absolute;
  z-index: 100;
  /* overflow: hidden;
    left: 1px;
    float: left; */
  bottom: 0px;
  width: 100%;
  margin: 0px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.24);
}
.profile-cover .cover ul.cover-menu li {
  display: block;
  float: left;
  /* margin-right: 0px;
    padding: 0px 10px; */
  width: 25%;
  text-align: center;
  line-height: 40px;
  height: 40px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.profile-cover .cover ul.cover-menu {
  background-color: rgba(47, 20, 83, 0.493);
}
.profile-cover .cover ul.cover-menu li:hover {
  background-color: rgba(12, 11, 78, 0.671);
}
.profile-cover .cover ul.cover-menu li.active {
  background-color: rgba(25, 9, 99, 0.801);
}
.profile-cover .cover ul.cover-menu li a {
  color: #fff;
  font-weight: bold;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}
.profile-cover .cover ul.cover-menu li a i {
  font-size: 18px;
}
.profile-cover .profile-body {
  margin: 0px auto 10px;
  position: relative;
}
.profile-cover .profile-timeline {
  padding: 15px;
}
.profile-picture {
  width: 150px !important;
  height: 150px !important;
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -75px;
  top: 50%;
  margin-top: -75px;
}
@media (max-width: 660px) {
  .profile-picture {
    margin-top: -105px;
  }

  .profile-cover .cover ul.cover-menu {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.24);
  }
  .profile-cover .cover ul.cover-menu li {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    line-height: 40px;
    height: 40px;
  }
}

#gallery {
  display: inline-block;
  padding-left: 1em;
  /* border: 1px solid black */
}

#gallery  img {
  width: 200px;
  height: 200px;
  margin: 0.5em;
  filter: grayscale();
  transition: 1.2s;
}
#gallery  img:hover {
  transition: 0.7s;
  filter: grayscale(0);
  transform: scale(1.1);
}

@media (max-width: 460px) {
  #gallery  img {
    width: 160px;
    height: 160px;
    margin: 0.2em;
  }
}
#big-image {
  position: fixed;
  border: rebeccapurple 1px solid;
  border-right: rgb(13, 32, 66) 2px solid;
  border-bottom: rgb(13, 32, 66) 2px solid;
  padding: 1em;
  background: #333;
  color:white;
  font-size: 1.4em;
  border-radius: 4px;
  width: 600px;
  min-height: 300px;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  z-index: 8000;
}
@media (max-width: 800px) {
  #big-image {
    width: 400px;
    margin-left: -200px;
  }
}
#big-image img {
  max-width: 100%;
}
#big-image li{
    list-style: none;
}
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 15px 20px 15px 0;
  border-color: transparent rgba(60, 60, 60, 0.733) transparent transparent;
  left: 0;
  margin-left: 25px;
}
#arrow-left:hover {
  border-right-color: rebeccapurple;
  transform: scale(1.13);
}
#arrow-right {
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent rgba(60, 60, 60, 0.733) ;
  right: 0;
  margin-right: 25px;
}
#arrow-right:hover {
  border-left-color: rebeccapurple;
  transform: scale(1.13);
}
.close-icon {
  position: absolute;
  top: -0.2em;
  left: 96%;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(151, 15, 140);
  border-radius: 100%;
  background: -webkit-linear-gradient(
      -45deg,
      transparent 0%,
      transparent 46%,
      rgb(255, 255, 255) 46%,
      rgb(255, 255, 255) 56%,
      transparent 56%,
      transparent 100%
    ),
    -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white
          56%, transparent 56%, transparent 100%);
  background-color: rgb(95, 13, 133);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
